.backBtn {
    background-color: gainsboro;
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    left: 50%;
    margin-bottom: 2rem;
    position: relative;
    transform: translateX(-50%);
}