body {
  background-image: url('../../../public/images/movie-background-film-frames-tape-reels-camera-vector-28149296.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
