.title {
    align-items: center;
    display: flex;
    color: gainsboro;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: x-large;
    height: 4rem;
    justify-content: center;
    padding: 5px;
}