.header {
    align-items: center;
    background-color: #222;
    color: white;
    font-family: 'Londrina Sketch', cursive;
    font-size: 60px;
    display: flex;
    height: 100px;
    justify-content: center;
    opacity: 0.8;
    padding: 10px;
    margin: 0 auto;
}

